$text-color: #fff;
$text-color-dark: #000;
$text-color-secondary: #6c6c70;
$text-color-highlight: #ffcc00;
$background-color-primary: #000;
$shadow-color: rgba(0, 0, 0, 0.1);
$background-color-button-primary: #fff;
$background-color-button-secondary: rgba(255, 255, 255, 0.15);
